<form class="example-form" autocomplete="off" novalidate #form="ngForm" (ngSubmit)="enviarFormulario(form)">
  <h2 mat-dialog-title>{{accion}} mi información personal </h2>
  <div class="small">
    <small>Los campos con <b>*</b> son obligatorios.</small>
    <br>
    <small *ngIf="rol==='2'" >Los campos <b>deshabilitados</b> podrán ser modificados por el administrador del sitio.</small>
  </div>
  <mat-dialog-content class="mat-typography">

    <div *ngIf="accion !== 'Eliminar';  else elseTemplate">
      <div class="px-6 py-4" fxLayout="column">
        <mat-form-field  appearance="outline" class="example-full-width">
          <mat-label>Cédula de identidad</mat-label>
          <input [disabled] = 'disabled' matInput cdkFocusInitial #input name="cedula" type="text" [(ngModel)]="dataEvaluador.cedula" #cedula="ngModel" required
          placeholder="Cedula de identidad">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Nombres</mat-label>
          <input matInput #input name="nombres" type="text" [(ngModel)]="dataEvaluador.nombres" #nombres="ngModel" required
            placeholder="Nombres">
        </mat-form-field>

        <div fxLayout="row" style="display: flex; justify-content: space-between;" class="example-full-width" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0">
          <mat-form-field style="width: 48%;" appearance="outline" fxFlex="auto">
            <mat-label>Apellido Paterno</mat-label>
            <input required matInput #input name="apellidopaterno" type="text" [(ngModel)]="dataEvaluador.apellidopaterno" #apellidopaterno="ngModel" required placeholder="Apellido paterno">
          </mat-form-field>
          <span fxFlex></span>
          <mat-form-field style="width: 48%;" appearance="outline" fxFlex="auto">
            <mat-label>Apellido Materno</mat-label>
            <input required matInput #input name="apellidomaterno" type="text" [(ngModel)]="dataEvaluador.apellidomaterno" #apellidomaterno="ngModel" required placeholder="Apellido materno">
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Teléfono celular</mat-label>
        <input required matInput #input name="celular" type="text" [(ngModel)]="dataEvaluador.celular" #celular="ngModel" placeholder="Teléfono celular">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Correo electrónico</mat-label>
        <input [disabled] = 'disabled' matInput  name="correo" type="email" [(ngModel)]="dataEvaluador.correo" #correo="ngModel" required
          placeholder="Correo electronico" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Actualizar contraseña</mat-label>
        <input matInput  name="password" type="text" [(ngModel)]="dataEvaluador.password" #password="ngModel"
          placeholder="Actualizar contraseña">
          <mat-hint><b>Importante:</b> Rellene este campo en caso de que necesita actualizar su contraseña!</mat-hint>

        </mat-form-field>

       <br>
       <br>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Dirección domiciliaria</mat-label>
          <textarea rows="3" cols="120" matInput #input name="direccion" type="text"
            [(ngModel)]="dataEvaluador.direccion" #direccion="ngModel"
            placeholder="Dirección domiciliaria"></textarea>
        </mat-form-field>
        <mat-slide-toggle style="display: none;" align="end" name="estado" [checked]="isChecked"
        (change)="dataEvaluador.estado = $event.checked">Estado
        </mat-slide-toggle>       

      </div>
    </div>
    <ng-template #elseTemplate> 
      <div style="margin-bottom: 10px;">
        ¿Deseas eliminar el registro <b>{{dataEvaluador.nombres}}</b>?. <br>Si lo haces ya no podrás recuperarlo.
      </div>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="cerrarModal()">Cancelar</button>
    <button mat-button color="accent" cdkFocusInitial type="submit"
      [class.btn-secondary]="formularioEnviado && form.invalid"
      [disabled]="(formularioEnviado && form.invalid) || bloquearBoton">{{accion}}</button>
  </mat-dialog-actions>
</form>
