<vex-secondary-toolbar current="Dashboard">
    <vex-breadcrumbs [crumbs]="['Dashboard']" class="flex-auto"></vex-breadcrumbs>
  
    <!-- <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button> -->
  </vex-secondary-toolbar>
  

  <div class="p-gutter"
       gdColumns="1fr 1fr 1fr 1fr"
       gdColumns.lt-md="1fr 1fr"
       gdColumns.lt-sm="1fr"
       gdGap="16px"
       vexContainer>   
       <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-95" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
        <div class="ng-tns-c198-95 rounded-full w-12 h-12 flex items-center justify-center text-primary bg-primary-light">
          <mat-icon role="img" class="mat-icon notranslate ng-tns-c198-95 material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <circle cx="9" cy="8.5" opacity=".3" r="1.5" fill="currentColor"></circle>
            <path opacity=".3" d="M4.34 17h9.32c-.84-.58-2.87-1.25-4.66-1.25s-3.82.67-4.66 1.25z" fill="currentColor"></path>
            <path d="M9 12c1.93 0 3.5-1.57 3.5-3.5S10.93 5 9 5S5.5 6.57 5.5 8.5S7.07 12 9 12zm0-5c.83 0 1.5.67 1.5 1.5S9.83 10 9 10s-1.5-.67-1.5-1.5S8.17 7 9 7zm0 6.75c-2.34 0-7 1.17-7 3.5V19h14v-1.75c0-2.33-4.66-3.5-7-3.5zM4.34 17c.84-.58 2.87-1.25 4.66-1.25s3.82.67 4.66 1.25H4.34zm11.7-3.19c1.16.84 1.96 1.96 1.96 3.44V19h4v-1.75c0-2.02-3.5-3.17-5.96-3.44zM15 12c1.93 0 3.5-1.57 3.5-3.5S16.93 5 15 5c-.54 0-1.04.13-1.5.35c.63.89 1 1.98 1 3.15s-.37 2.26-1 3.15c.46.22.96.35 1.5.35z" fill="currentColor"></path>
          </svg>
        </mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-95">67.4k</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-95">Evaluaciones de carrera</h3>
      <h4 class="subheading-1 font-medium mt-4 mb-0 ng-tns-c198-95 text-green">
        <ic-icon height="20px" width="20px" class="ng-tns-c198-95 ic-inline ng-star-inserted">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 320 512" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); vertical-align: -0.125em;">
            <path d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z" fill="currentColor"></path>
          </svg>
        </ic-icon><!----><!---->
        <span class="ng-tns-c198-95">124.4%</span>
      </h4><!----><!---->
    </div> 

    <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-96" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
      <div class="ng-tns-c198-96 rounded-full w-12 h-12 flex items-center justify-center text-orange bg-orange-light">
        <mat-icon role="img" class="mat-icon notranslate ng-tns-c198-96 material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <path opacity=".3" d="M4 18h16V6H4v12zm7.5-11c2.49 0 4.5 2.01 4.5 4.5c0 .88-.26 1.69-.7 2.39l2.44 2.43l-1.42 1.42l-2.44-2.44c-.69.44-1.51.7-2.39.7C9.01 16 7 13.99 7 11.5S9.01 7 11.5 7z" fill="currentColor"></path>
            <path d="M11.49 16c.88 0 1.7-.26 2.39-.7l2.44 2.44l1.42-1.42l-2.44-2.43c.44-.7.7-1.51.7-2.39C16 9.01 13.99 7 11.5 7S7 9.01 7 11.5S9.01 16 11.49 16zm.01-7a2.5 2.5 0 0 1 0 5a2.5 2.5 0 0 1 0-5zM20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V6h16v12z" fill="currentColor"></path>
          </svg>
        </mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-96">96.2k</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-96">Periodos lectivos</h3>
      <h4 class="subheading-1 font-medium mt-4 mb-0 ng-tns-c198-96 text-red"><!---->
        <ic-icon height="20px" width="20px" class="ng-tns-c198-96 ic-inline ng-star-inserted">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 320 512" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); vertical-align: -0.125em;">
            <path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" fill="currentColor"></path>
          </svg>
        </ic-icon><!---->
        <span class="ng-tns-c198-96">-23.7%</span>
      </h4>
      <button mat-icon-button="" mattooltipposition="after" type="button" class="mat-focus-indicator mat-tooltip-trigger absolute top-0 left-0 mt-2 ml-2 text-hint mat-icon-button mat-button-base ng-tns-c198-96 ng-star-inserted" aria-describedby="cdk-describedby-message-11" cdk-describedby-host="">
        <span class="mat-button-wrapper">
          <mat-icon role="img" height="18px" width="18px" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
              <path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5c0-2.21-1.79-4-4-4z" fill="currentColor"></path>
            </svg>
          </mat-icon>
        </span>
        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>
        <span class="mat-button-focus-overlay"></span>
      </button><!----><!----><!---->
    </div>
    <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-97" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
      <div class="ng-tns-c198-97 rounded-full w-12 h-12 flex items-center justify-center text-deep-orange bg-deep-orange-light">
        <mat-icon role="img" class="mat-icon notranslate ng-tns-c198-97 material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <path opacity=".3" d="M22 15c0-1.66-1.34-3-3-3h-1.5v-.5C17.5 8.46 15.04 6 12 6c-.77 0-1.49.17-2.16.46L20.79 17.4c.73-.55 1.21-1.41 1.21-2.4zM2 14c0 2.21 1.79 4 4 4h9.73l-8-8H6c-2.21 0-4 1.79-4 4z" fill="currentColor"></path>
            <path d="M19.35 10.04A7.49 7.49 0 0 0 12 4c-1.33 0-2.57.36-3.65.97l1.49 1.49C10.51 6.17 11.23 6 12 6c3.04 0 5.5 2.46 5.5 5.5v.5H19a2.996 2.996 0 0 1 1.79 5.4l1.41 1.41c1.09-.92 1.8-2.27 1.8-3.81c0-2.64-2.05-4.78-4.65-4.96zM3 5.27l2.77 2.77h-.42A5.994 5.994 0 0 0 0 14c0 3.31 2.69 6 6 6h11.73l2 2l1.41-1.41L4.41 3.86L3 5.27zM7.73 10l8 8H6c-2.21 0-4-1.79-4-4s1.79-4 4-4h1.73z" fill="currentColor"></path>
          </svg>
        </mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-97">6.92%</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-97">Criterios</h3>
      <h4 class="subheading-1 font-medium mt-4 mb-0 ng-tns-c198-97 text-green">
        <ic-icon height="20px" width="20px" class="ng-tns-c198-97 ic-inline ng-star-inserted">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 320 512" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); vertical-align: -0.125em;">
            <path d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z" fill="currentColor"></path>
          </svg>
        </ic-icon><!----><!---->
        <span class="ng-tns-c198-97">23.2%</span>
      </h4>
      <button mat-icon-button="" mattooltipposition="after" type="button" class="mat-focus-indicator mat-tooltip-trigger absolute top-0 left-0 mt-2 ml-2 text-hint mat-icon-button mat-button-base ng-tns-c198-97 ng-star-inserted" aria-describedby="cdk-describedby-message-12" cdk-describedby-host="">
        <span class="mat-button-wrapper">
          <mat-icon role="img" height="18px" width="18px" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
              <path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5c0-2.21-1.79-4-4-4z" fill="currentColor"></path>
            </svg>
          </mat-icon>
        </span>
        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>
        <span class="mat-button-focus-overlay"></span>
      </button><!----><!----><!---->
    </div>
    <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-98" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
      <div class="ng-tns-c198-98 rounded-full w-12 h-12 flex items-center justify-center text-teal bg-teal-light">
        <mat-icon role="img" class="mat-icon notranslate ng-tns-c198-98 material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);">
            <path opacity=".3" d="M12.07 6.01c-3.87 0-7 3.13-7 7s3.13 7 7 7s7-3.13 7-7s-3.13-7-7-7zm1 8h-2v-6h2v6z" fill="currentColor"></path>
            <path d="M9.07 1.01h6v2h-6zm2 7h2v6h-2zm8.03-.62l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42A8.962 8.962 0 0 0 12.07 4c-4.97 0-9 4.03-9 9s4.02 9 9 9A8.994 8.994 0 0 0 19.1 7.39zm-7.03 12.62c-3.87 0-7-3.13-7-7s3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7z" fill="currentColor"></path>
          </svg>
        </mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-98">16M</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-98">Indicadores</h3>
      <h4 class="subheading-1 font-medium mt-4 mb-0 ng-tns-c198-98 text-green">
        <ic-icon height="20px" width="20px" class="ng-tns-c198-98 ic-inline ng-star-inserted">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 320 512" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); vertical-align: -0.125em;">
            <path d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z" fill="currentColor"></path>
          </svg>
        </ic-icon><!----><!---->
        <span class="ng-tns-c198-98">34.5%</span>
      </h4><!----><!---->
    </div>
  </div>
  