<vex-secondary-toolbar current="Dashboard">
    <vex-breadcrumbs [crumbs]="['Dashboard']" class="flex-auto"></vex-breadcrumbs>
  
    <!-- <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button> -->
  </vex-secondary-toolbar>
  
  <div class="p-gutter"
       gdColumns="1fr 1fr 1fr 1fr"
       gdColumns.lt-md="1fr 1fr"
       gdColumns.lt-sm="1fr"
       gdGap="16px"
       vexContainer>   

<div *ngIf="rol==='1'" fxlayout="column" style="display: contents;">  

  <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-95" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
        <div class="ng-tns-c198-95 rounded-full w-12 h-12 flex items-center justify-center text-primary bg-primary-light">
          <mat-icon [icIcon]='icFat'></mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-95" #counter data-count="50">{{evaluaciones}}</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-95">Evaluaciones de carrera</h3>
    </div> 

    <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-96" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
      <div class="ng-tns-c198-96 rounded-full w-12 h-12 flex items-center justify-center text-orange bg-orange-light">
        <mat-icon [icIcon]="icCalendar" role="img" class="mat-icon notranslate ng-tns-c198-96 material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"></mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-96">{{periodos}}</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-96">Periodos lectivos</h3>
    </div>

    <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-97" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
      <div class="ng-tns-c198-97 rounded-full w-12 h-12 flex items-center justify-center text-deep-orange bg-deep-orange-light">
        <mat-icon [icIcon]="icContentPaste" role="img" class="mat-icon notranslate ng-tns-c198-97 material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"></mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-97">{{criterios}}</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-97">Criterios</h3>
    </div>

    <div fxlayout="column" fxlayoutalign="start center" class="card p-6 relative hover:shadow-16 trans-shadow ng-tns-c198-98" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
      <div class="ng-tns-c198-98 rounded-full w-12 h-12 flex items-center justify-center text-teal bg-teal-light">
        <mat-icon [icIcon]="icAccessAlarm" role="img" class="mat-icon notranslate ng-tns-c198-98 material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"></mat-icon>
      </div>
      <h2 class="display-2 font-bold mt-4 mb-2 ng-tns-c198-98">{{indicadores}}</h2>
      <h3 class="subheading-2 font-medium text-secondary m-0 ng-tns-c198-98">Indicadores</h3>
    </div>
  </div>


  
  <div class="w-full overflow-auto shadow" gdColumn="1 / -1"
  gdColumn.lt-md="1 / -1"
  gdColumn.lt-sm="1">
    <div class="card overflow-auto w-full" fxLayout="column">
      <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="m-0 title" fxFlex="auto">Evaluaciones recientes</h2>
      </div>
  
      <table mat-table [dataSource]="dataSource" class="w-full overflow-auto" mat-table matSort>
       
      
        <!-- NOMBRE DE LA EVALUACION Column -->
        <ng-container matColumnDef="modelo_carrera">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO CARRERA </th>
          <td mat-cell *matCellDef="let element" matTooltip="{{element.modelo}}"> 
            {{(element.modelo.length > 40) ? ((element.modelo).slice(0, 40) + '...') : element.modelo}}
          </td>
        </ng-container>

          <!-- NOMBRE DE LA evidencia Column -->
          <ng-container matColumnDef="nombre_evidencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE DEL ARCHIVO</th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.ruta}}"> 
              <!-- {{element.ruta}}  -->
              {{(element.ruta.length > 30) ? ((element.ruta).slice(0, 30) + '...') : element.ruta}}
            </td>
            
          </ng-container>
      
        <!-- EVALUADOR Column -->
        <ng-container matColumnDef="evaluador">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EVALUADOR </th>
          <td mat-cell *matCellDef="let element"> {{element.evaluador}} </td>
        </ng-container>

        <!-- FECHA  Column -->
        <ng-container matColumnDef="fecha_evidencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA EVIDENCIA</th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
      
  
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     
      <mat-paginator [pageSize]="pageSize"
      class="paginator" showFirstLastButtons >
  </mat-paginator>
    
    </div>
  </div>
  </div>
    

 
  

  
  