.example-form {
    min-width: 150px;
    // max-width: 0px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-slide-toggle{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }


  
// Dialog
.modhyobitto-dialog-container{
  .mat-dialog-container{
      border-radius: 0;
  }
}
.modhyobitto-dialog{
  max-width: 500px;
  .mat-dialog-title{
      border-bottom: 1px solid;
      // color: map-get($modhyobitto-colors, primary-dark);
      font-family: 'Roboto', sans-serif;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
  }
  .mat-dialog-content{
      margin-bottom: 2rem;
  }
  .mat-dialog-actions{
      justify-content: flex-end;   
      button{
        background: transparent;
        // color: map-get($modhyobitto-colors, primary);
        font-family: 'RobotoBold', sans-serif;
        height: 35px;
        // &:hover, &:focus{
        //     background: map-get($modhyobitto-colors, subtle-bg);
        // }
      }     
  }
}

.modhyobitto-file-uploader{
  background-color: #eee;
    border: 2px dashed #7cb342;
    padding: 3rem;
}

.modhyobitto-file-uploader .file-uploader__instructions {
  color: #7cb342;
  margin-bottom: 3rem;
  padding: 0 1rem;
  text-align: center;
}

button.secondary-button .primary-button {
  background: #7cb342;
  border: none;
  box-shadow: none;
  color: #fff;
  font-family: Roboto,sans-serif;
  padding: 0 20px;
  text-transform: uppercase;
  height: 50px;
}

button.primary-button {
  background: #7cb342;
  border: none;
  box-shadow: none;
  color: #fff;
  font-family: Roboto,sans-serif;
  padding: 0 20px;
  text-transform: uppercase;
  height: 50px;
}