<form class="example-form" autocomplete="off" novalidate #form="ngForm" (ngSubmit)="enviarFormulario(form)">
  <!-- <form  autocomplete="off" novalidate #form="ngForm" (ngSubmit)="enviarFormulario(form)"> -->
  <h2 mat-dialog-title>{{accion}} modelo carrera
    <button mat-icon-button mat-dialog-close (click)="cerrarModal()" *ngIf="accion !== 'Eliminar';"
      style="float: right;">
      <!-- <mat-icon aria-label="Cerrar modal">close</mat-icon> -->
      <mat-icon aria-label="Cerrar modal" [icIcon]="icClose"></mat-icon>
    </button>
  </h2>
  <!-- <div>{{getmostrar}}</div> -->
  <mat-dialog-content class="mat-typography">
  
    <div *ngIf="accion !== 'Eliminar';  else elseTemplate">  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Periodo Lectivo</mat-label>
            <mat-select required name="id_periodo" #periodoid="ngModel" [(ngModel)]="dataModelo.periodoid">
              <mat-option disabled *ngIf="periodoRepo?.obtenerPeriodosActivos?.length === 0"
                value="{nombre:'noVale'}">
                Seleccionar:
              </mat-option>
              <mat-option *ngFor="let item of periodoRepo.obtenerPeriodosActivos" [value]="item.id">
                {{item.periodo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Criterio</mat-label>
            <mat-select required name="criterioid" #criterioid="ngModel" [(ngModel)]="dataModelo.criterioid"
              (selectionChange)="seleccionarCriterio($event)">
              <mat-option disabled *ngIf="criterioRepo?.obtenerCriteriosActivos?.length === 0"
                value="{nombre:'noVale'}">
                Seleccionar:
              </mat-option>
              <mat-option *ngFor="let item of criterioRepo.obtenerCriteriosActivos" [value]="item.id">
                {{item.criterio}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Sub Criterio</mat-label>
            <mat-select required name="subcriterioid" #subcriterioid="ngModel"
              [(ngModel)]="dataModelo.subcriterioid" [disabled]="subcriterioRepo?.obtenerSubcriterioId?.length === 0">
              <mat-option disabled *ngIf="subcriterioRepo?.obtenerSubcriterioId?.length === 0"
                value="{nombre:'noVale'}">
                Seleccionar:
              </mat-option>
              <mat-option *ngFor="let item of subcriterioRepo.obtenerSubcriterioUnicoId"
                [value]="item.id">
                {{item.subcriterio}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Indicador</mat-label>
            <mat-select required name="indicadorid" #indicadorid="ngModel"
              [(ngModel)]="dataModelo.indicadorid">
              <mat-option disabled *ngIf="indicadorRepo?.obtenerIndicadoresActivos?.length === 0"
                value="{nombre:'noVale'}">
                Seleccionar:
              </mat-option>
              <mat-option *ngFor="let item of indicadorRepo.obtenerIndicadoresActivos"
                [value]="item.id">
                {{item.indicador}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Elemento fundamental</mat-label>
            <textarea rows="6" cols="120" matInput cdkFocusInitial #input name="elementofundamental"
              type="text" [(ngModel)]="dataModelo.elementofundamental" #elementofundamental="ngModel" required
              placeholder="Descripción del elemento fundamental"></textarea>
          </mat-form-field>

          <mat-slide-toggle align="end" name="estado" [checked]="isChecked"
          (change)="dataModelo.estado = $event.checked">Estado
        </mat-slide-toggle>
        
  

    </div>
    <ng-template #elseTemplate>
      <div style="margin-bottom: 10px;">
        ¿Deseas eliminar el registro?. <br>Si lo haces ya no podrás recuperarlo.
      </div>
    </ng-template>

  </mat-dialog-content>
  <!-- <div class="creado_modificado" *ngIf="accion === 'Modificar';">
      <mat-label><b>Creado:</b> {{cargo.creado}}</mat-label><br>
      <mat-label><b>Modificado:</b> {{cargo.modificado}}</mat-label>
    </div> -->
  <mat-dialog-actions *ngIf="accion !== 'Visualizar';" align="end">
    <button mat-button mat-dialog-close (click)="cerrarModal()">Cancelar</button>
    <button mat-button color="accent" cdkFocusInitial type="submit"
      [class.btn-secondary]="formularioEnviado && form.invalid"
      [disabled]="(formularioEnviado && form.invalid) || bloquearBoton">{{accion}}</button>
  </mat-dialog-actions>
  <mat-dialog-actions align="end" *ngIf="accion === 'Visualizar'">
    <button mat-button mat-dialog-close (click)="cerrarModal()">Cancelar</button>
    <button mat-button color="accent" cdkFocusInitial type="submit">Imprimir</button>
  </mat-dialog-actions>
</form>