<vex-secondary-toolbar current="Evaluaciones">
  <vex-breadcrumbs [crumbs]="['Evaluación de la carrera','Modelo carrera']" class="flex-auto"></vex-breadcrumbs>

  <button *ngIf="rol === '1'" mat-raised-button color="primary" matTooltip="Añadir evaluación" fxFlex="none"
    (click)="openDialog('Registrar',{})">Crear evaluación</button>
</vex-secondary-toolbar>

<div class="p-gutter" gdGap="0px" vexContainer>
  <div class="bg-app-bar px-6 h-16 border-b sticky " fxLayout="row" fxLayoutAlign="start center">
    <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
      <span>Modelo carrera</span>
    </h2>
    <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
      fxLayoutAlign="start center">
      <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
      <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
        (keyup)="filtrar($event)" placeholder="Filtrar por algún campo en específico" type="search" #input>
    </div>
    <span fxFlex></span>
    <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
      <mat-icon [icIcon]="icSearch"></mat-icon>
    </button>
    <span fxFlex></span>
    <button mat-button [matMenuTriggerFor]="menu"> <mat-icon [icIcon]="icImportExport"></mat-icon> Exportar <mat-icon [icIcon]="icArrowDropDown"></mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="crearReporte()">Exportar a PDF</button>
      <button mat-menu-item (click)="excel()">Exportar a Excel</button>
    </mat-menu>
  </div>
  <div class="spinner-container" *ngIf="datosCargados === false">
    <mat-spinner></mat-spinner>
  </div>

  <div class="table-responsive">
  
    <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
       <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef mat-sort-heade style="width: 10px;"> <b>#</b> </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
      </ng-container>
      <ng-container matColumnDef="elementoFundamental">
        <th mat-header-cell *matHeaderCellDef > <b>Elemento Fundamental</b></th>
        <td mat-cell *matCellDef="let element"> 
          {{element.elementofundamental}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="estado" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> <b>Estado</b></th>
        <td mat-cell *matCellDef="let element" class="tdEstado">

          <mat-chip-list class="example-chip" >
            <mat-chip fxFlex="none"  class="example-box chipActivo" *ngIf="element.estado==='1'">
              Activo
            </mat-chip>
            <mat-chip  class="example-box" *ngIf="element.estado==='0'">
              Inactivo
            </mat-chip>
          </mat-chip-list>

        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 50px !important;"> <b></b> </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon [icIcon]="icMoreVert"></mat-icon>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button *ngIf="rol === '1'"  mat-menu-item (click)="openDialog('Modificar',element)"><span>
                <mat-icon [icIcon]="icEdit"></mat-icon>Modificar
              </span>
            </button>
            <button mat-menu-item (click)="openDialogEvicendia('Cargar',element)"><span>
              <mat-icon [icIcon]="icbaselinetextsnippet"></mat-icon>Evidencias
            </span>
          </button>
          <button mat-menu-item (click)="crearComprimido(element.id)">
           
              <span>
                <mat-icon [icIcon]="icFolderZip"></mat-icon>Imprimir evidencias
              </span>
           
        </button>
          </mat-menu>
        </td>
      </ng-container>


  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <mat-list>
            <mat-list-item><b>Periodo Lectivo: </b> &nbsp;  {{element.periodo}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Criterio: </b> &nbsp;  {{element.criterio}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Subcriterio: </b> &nbsp; {{element.subcriterio}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Indicador: </b> &nbsp; {{element.indicador}}</mat-list-item>
          </mat-list>
      
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
  </div>

</div>